a {
  text-decoration: none;
  color: #d7a1f9;
}

.hero_section {
  margin: 2rem 0;
  padding: 0 8px;
  color: #ffe6ff;
}

.hero_top {
  font-family: Caveat;
  font-size: 1.2rem;
}

.hero_header {
  font-size: 6rem;
  font-family: "Ubuntu";
  color: hsl(330, 100%, 51%);
  font-family: 700;
}

.hero_tag {
  margin: 0.5rem 0;
  font-size: 3rem;
  font-family: "Ubuntu";
  color: #d7a1f9;
}

.hero_desc {
  margin: 2rem 0;
  font-size: 1.1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Ubuntu";
}

.hero_desc span {
  color: hsl(330, 100%, 51%);
  font-weight: 700;
}

.hero_desc a {
  text-decoration: none;
  transition: all 0.1s linear;
}

.underline_ani {
  display: inline-block;
  position: relative;
  color: hsl(330, 100%, 51%);
}

.underline_ani::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(330, 100%, 51%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline_ani:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 1.5rem;
  color: #d7a1f9;
  margin: 3rem 0 0 0;
}

.social_icons {
  margin-right: 1.5rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

.social_icons:hover {
  transform: translateY(-2px);
  color: hsl(330, 100%, 51%);
}

.logo_link {
  text-decoration: none;
  color: #ffe6ff;
}
